<!DOCTYPE html>
<html>
    <head>
        <title>
            Pixabay Image Search
        </title>
    </head>
    <body>
        <h1>Pixabay Search (Express Version)</h1>
        
        <form method="GET" action="/results">
            Keyword: <input type="text" name="keyword">
            <button>Search!</button>
        </form>
        <br>
        
        <img src=<%-image%>>
    </body>
</html>