<%- include('partials/header.ejs') %>

        <h1>Pixabay Search Results</h1>
        
        <form method="GET" action="/results">
            Keyword: <input type="text" name="keyword">
            <select name="orientation">
                <option>Orientation</option>
                <option>vertical</option>
                <option>horizontal</option>
            </select>
            <button>Search!</button>
        </form>
        <br>
        
        <br>
        <%- include('partials/images.ejs') %>

        
        

<%- include('partials/footer.ejs') %>
